h1 {
  text-transform: capitalize;
}

ul {
  list-style: none;
  color: gray;
}


.container {
  max-width: 500px;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 16px;
  
}

.shecodes-logo {
  max-width: 200px;
  padding: 20px;
}

#search-button {
  background: #885df1;
}

.search-bar {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

#city {
  font-size: 30px;
  font-weight: bold;
  color: #885df1;
  margin-bottom: 0;
}

.lastUpdated {
  font-size: 13px;
  color: grey;
}

.current-dateTime {
  color: #a9a6b3;
}

.current-weather {
  color: #a9a6b3;
}

#current-temp {
  font-size: 35px;
}

.current-city-details {
  display: inline;
}


